:root {
	--cowatch-color-neutral-800: #121212;
	--cowatch-color-neutral-600: hsla(0, 100%, 100%, 0.1);
	--cowatch-color-neutral-550: hsla(0, 100%, 100%, 0.2);
	--cowatch-color-neutral-500: hsla(0, 100%, 100%, 0.4);
	--cowatch-color-neutral-50: hsl(0, 0%, 95%);

	--cowatch-color-red-400: hsla(0, 100%, 50%, .85);
	--cowatch-color-red-500: hsla(0, 100%, 50%, .7);
	--cowatch-color-red-700: hsla(0, 100%, 50%, .5);

	--cowatch-color-green-400: hsla(137, 100%, 50%, .7);
	--cowatch-color-green-500: hsla(137, 100%, 50%, .5);
	--cowatch-color-green-700: hsla(137, 100%, 50%, .3);

	--cowatch-br-rg: 8px;
	--cowatch-br-md: 16px;
	--cowatch-br-lg: 32px;

	--cowatch-gaps-xsm: 4px;
	--cowatch-gaps-sm: 6px;
	--cowatch-gaps-rg: 8px;
	--cowatch-gaps-md: 16px;
	--cowatch-gaps-2md: 24px;
	--cowatch-gaps-lg: 32px;
	--cowatch-gaps-2lg: 64px;

	--cowatch-font: 'Roboto', 'Arial', sans-serif;
}

.cowatchRoot {
	position: relative;

	box-sizing: content-box;

	background-color: var(--cowatch-color-neutral-800);
	border: 1px solid var(--cowatch-color-neutral-600);
	border-radius: var(--cowatch-br-rg);

	font-size: 16px;
	font-family: var(--cowatch-font);
	color: var(--cowatch-color-neutral-50);
}

.cowatchHeader {
	position: relative;
	z-index: 10;

	padding: 8px 24px;

	display: flex;
	align-items: center;
	gap: var(--cowatch-gaps-rg);

	background-color: var(--cowatch-color-neutral-800);
	border-bottom: 1px solid var(--cowatch-color-neutral-600);
}

.cowatchError {
	position: absolute;
	inset-inline: 0;
	z-index: 5;

	padding: 8px 24px;

	display: flex;
	align-items: center;
	gap: var(--cowatch-gaps-rg);

	background-color: var(--cowatch-color-red-400);

	cursor: pointer;
}

.cowatchFlexPushRight {
	margin-left: auto;
}

.cowatchButtonRound {
	aspect-ratio: 1/1;

	padding: 6px;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: transparent;
	border: none;
	border-radius: 100%;

	font-family: var(--cowatch-font);
	font-weight: 500;
	line-height: 36px;
	color: var(--cowatch-color-neutral-50);

	cursor: pointer;
}

.cowatchButtonRound:hover {
	background-color: var(--cowatch-color-neutral-600);
}

.cowatchButtonRound:active {
	background-color: var(--cowatch-color-neutral-500);
}

.cowatchButton {
	padding-inline: var(--cowatch-gaps-md);

	display: flex;
	gap: var(--cowatch-gaps-sm);
	justify-content: center;
	align-items: center;

	background-color: transparent;
	border: 1px solid var(--cowatch-color-neutral-600);
	border-radius: var(--cowatch-br-lg);

	font-family: var(--cowatch-font);
	font-weight: 500;
	line-height: 36px;
	color: var(--cowatch-color-neutral-50);

	cursor: pointer;
}

.cowatchButton:hover {
	background-color: var(--cowatch-color-neutral-600);
}

.cowatchButton:active {
	background-color: var(--cowatch-color-neutral-500);
	border-color: var(--cowatch-color-neutral-500);
}

.cowatchButtonPrimary {
	background-color: var(--cowatch-color-neutral-600);
	border-color: transparent;
}

.cowatchButtonPrimary:hover {
	background-color: var(--cowatch-color-neutral-550);
	border-color: transparent;
}

.cowatchButtonPrimary:active {
	background-color: var(--cowatch-color-neutral-500);
	border-color: transparent;
}

.cowatchButtonShadow {
	border-color: transparent;
}

.cowatchButtonError {
	background-color: var(--cowatch-color-red-700);
}

.cowatchButtonError:hover {
	background-color: var(--cowatch-color-red-500);
}

.cowatchButtonError:active {
	background-color: var(--cowatch-color-red-400);
}

.cowatchButtonSuccess {
	background-color: var(--cowatch-color-green-700);
}

.cowatchButtonSuccess:hover {
	background-color: var(--cowatch-color-green-500);
}

.cowatchButtonSuccess:active {
	background-color: var(--cowatch-color-green-400);
}

.cowatchButtonFull {
	width: 100%;
}

.cowatchButtonNoBrLeft {
	border-radius: 0 var(--cowatch-br-lg) var(--cowatch-br-lg) 0;
}

.cowatchInput {
	box-sizing: border-box;

	height: 100%;
	min-width: 180px;

	padding-inline: var(--cowatch-gaps-md);

	background: transparent;
	color: var(--cowatch-color-neutral-50);

	border: none;
	border-radius: var(--cowatch-br-lg) 0 0 var(--cowatch-br-lg);
}

.cowatchInput::placeholder {
	color: var(--cowatch-color-neutral-500);
}

.cowatchTitle {
	color: var(--cowatch-color-neutral-50);
	font-size: 1em;
	font-weight: 700;
}

.cowatchIconPrompt {
	display: flex;
	gap: var(--cowatch-gaps-rg);
	align-items: center;
}

.cowatchIconPromptIcon {
	width: 32px;
	border-radius: 100%;
}

.cowatchButtonContainer {
	display: flex;
	gap: var(--cowatch-gaps-md);
	align-items: center;
}

.cowatchInputButtonContainer {
	display: flex;
	align-items: center;
	border: 1px solid var(--cowatch-color-neutral-600);
	border-radius: var(--cowatch-br-lg);
}

.cowatchContent {
	height: 320px;
}

.cowatchContentFlexCenter {
	box-sizing: border-box;
	height: 100%;

	padding-top: var(--cowatch-gaps-2lg);

	display: flex;
	gap: var(--cowatch-gaps-2md);
	flex-direction: column;
	align-items: center;
}

.cowatchContentBackContainer {
	width: 100%;
	flex-grow: 1;

	padding: 32px 16px 16px 0;

	display: flex;
	justify-content: end;
	align-items: end;
}

.cowatchContentConnected {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.cowatchContentJoinlistContainer {
	width: 100%;
	flex-grow: 1;

	overflow-y: scroll;
}

.cowatchContentConnectedClient {
	padding: 8px 8px 12px 24px;
	display: flex;

	background-color: var(--cowatch-color-neutral-600);
	border-radius: 0 0 var(--cowatch-gaps-rg) var(--cowatch-gaps-rg);
}

.cowatchContentConnectedClientDetails {
	display: flex;
	gap: 8px;
}

.cowatchContentConnectedClientDetailsIcon {
	width: 42px;
	height: 42px;
	border-radius: 100%;
}

.cowatchContentConnectedClientDetailsText {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.cowatchContentConnectedClientDetailsUsername {
	font-weight: 700;
}

.cowatchContentConnectedClientDetailsRoom {
	display: flex;
	gap: 2px;

	color: var(--cowatch-color-neutral-500);
}

.cowatchContentClientContainer {
	padding: var(--cowatch-gaps-rg) var(--cowatch-gaps-2md);

	display: flex;
	align-items: center;
	gap: var(--cowatch-gaps-md);
}

.cowatchContentClientContainer:hover {
	background-color: var(--cowatch-color-neutral-600);
}

.cowatchCOntentClientIcon {
	width: 24px;
	border-radius: 100%;
}

.cowatchContentClientHosting {
	display: flex;
	align-items: center;
	gap: var(--cowatch-gaps-xsm);
}
