@import "tailwindcss";

@theme {
	--color-dark: #020113;
	--color-light: #E5F3F3;
	--color-cyan: #00FFFF;
	--color-light-cyan: #CDFDFF;

	@keyframes FadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@keyframes Letter-Scaling {
		0% { scale: 0; }
		100% { scale: 1; }
	}

	@keyframes Letter-Position {
		0% { translate: 0; }
		100% { translate: 0 16px; }
	}

	@keyframes Paper-Position {
		0% { translate: 0 100%; }
		100% { translate: 0 0; }
	}

	@keyframes Highlight-Visibility {
		0% { opacity: 0; }
		100% { opacity: 1; }
	}

	@keyframes ButtonHover {
		0% { top: 100%; left: 50%; }
		15% { top: 100%; left: 0%; }
		25% { top: 0%; left: 0%; }
		75% { top: 0%; left: 100%; }
		85% { top: 100%; left: 100%; }
		100% { top: 100%; left: 50%; }
	}

	@keyframes ButtonHighlightHover {
		0% { top: 90%; left: 50%; }
		15% { top: 90%; left: 10%; }
		25% { top: 10%; left: 10%; }
		75% { top: 10%; left: 90%; }
		85% { top: 90%; left: 90%; }
		100% { top: 90%; left: 50%; }
	}

	--animate-button: 5s linear infinite ButtonHover;
	--animate-button-highlight: 5s linear infinite ButtonHighlightHover;

}

body {
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

.letter-front, .letter-back {
	transform-origin: center bottom;
	animation: 200ms ease-out both Letter-Scaling, 1s ease-in-out both Letter-Position;
}

.letter-content {
	animation: 200ms ease-out both 1s Highlight-Visibility;
}

.paper {
	animation: 900ms cubic-bezier(.11,.66,0,1.13) 100ms both Paper-Position;
}

.highlight {
	animation: 900ms cubic-bezier(.11,.66,0,1.15) 100ms both Highlight-Visibility;
}

.alternating-partially-visible {
	opacity: 0.30;
}

.alternating-invisible {
	opacity: 0;
}

.alternating-is-below {
	transform: translateY(16px);
}

.alternating-is-above {
	transform: translateY(-16px);
}
